body{
}
.face{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background-image:radial-gradient(circle at center,yellow,red);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation:body 2s linear infinite;
    box-shadow:1px 10px 10px rgba(0,0,0,0.3);
    
}
.eyes{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
#eye_L{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    animation: wink_L 6s ease infinite;
    
}
 #eye_R{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    animation: wink_L 6s ease infinite;
}

 #mouth{
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color: black;
    margin: auto;
    animation: mouth 2S linear infinite;
}

@keyframes wink_L{
    0%{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    50%{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: rotateX(360deg);
    }
    100%{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    
}
@keyframes wink_R{
     0%{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    50%{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transform: rotateX(360deg);
    }
    100%{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
@keyframes mouth{
     0%{
        width: 10px;
        height: 10px;
        border-radius:50%;
    }
    50%{
        width: 50px;
        height: 2px;
        border-radius:0 0 50% 50%;
    }
    100%{
        width: 100px;
        height: 25px;
        border-radius:0 0 100% 100%;
    }
}
@keyframes body{
    0%{ 
        transform: translateY(0px) rotateX(0);
    }
    25%{
        transform: translateY(-80px) rotateX(0);
    }
    50%{
        transform: translateY(-80px) rotateX(180deg);
    }
    100%{
        transform: translateY(0px) rotateX(360deg);
    }
}